*{
	box-sizing: border-box;
}

header, form {
	text-align: center;
	width:100%;
}

.form-input{
	font-size: 1.5em;
	text-align: center;	
}

.loader{
	position: absolute;
	top: 25%;
	left: 35%;
	width: 100px;
	height: 100px;
}

.videowrapper {
	margin-top: 50%;
	width: 100%;
	height : auto;
	padding-bottom: 60%;
}
.form-submit-Btn,.form-next-page-Btn,.form-prev-page-Btn{
	font-size: 1.5em;
}

.prev-Next{
	width:100%;
}

@media only screen and (min-width: 900px) {
	.videowrapper {
		width: 70%;
		height : auto;
		padding-bottom: 40%;
	}
	.loader{
		position: absolute;
		top: 40%;
		left: 40%;
		width: 120px;
		height: 120px;
	}
	.form-input{
		font-size: 2em;
		text-align: center;
	}
	.Next-Page{
		float:right;
	}

	.Previous-Page{
		float:left;
	}
	.videos img{
		margin:10px;
	}
	.form-submit-Btn,.form-next-page-Btn,.form-prev-page-Btn{
		font-size: 2em;
	}
	.prev-Next{
		width:70%;
	}
}


@media screen and (max-width: 900px) and (min-width: 540px) {
	.videowrapper {
		width: 80%;
		height : auto;
		padding-bottom: 50%;
		margin-top: 20%;
	}
	.loader{
		position: absolute;
		top: 40%;
		left: 50%;
		width: 100px;
		height: 100px;
	}
	.Next-Page{
		float:right;
	}

	.Previous-Page{
		float:left;
	}
	.videos img{
		margin:10px;
	}
	.form-submit-Btn,.form-next-page-Btn,.form-prev-page-Btn{
		font-size: 2em;
	}
	.prev-Next{
		width:70%;
	}
}

@media screen and (max-width: 540px) and (min-width: 350px) {
	.videowrapper {
		width: 100%;
		height : auto;
		padding-bottom: 60%;
		margin-top: 30%;
	}
	.loader{
		position: absolute;
		top: 20%;
		left: 35%;
		width: 100px;
		height: 100px;
	}
	header, form {
		width: 100%;
	}
	.Next-Page{
		float:right;
	}

	.Previous-Page{
		float:left;
	}
	.videos img{
		margin:10px;
	}
	.form-submit-Btn,.form-next-page-Btn,.form-prev-page-Btn{
		font-size: 1.5em;
	}
	.prev-Next{
		width:100%;
	}
}